.publisherName {
}
.publishDate {
}
.postImg {
  max-height: 600px;
  max-width: 500px;
}
.postText {
}
.likes {
}
.tagsList {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 15px;
}
.tag {
}
